{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}

                <tr>
                    {% for key, value in transaction.items() %}
                        <th scope="row">{{ value }}</th>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}